{% extends 'baseFront.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-3 mb-4">Event index</h1>

        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Capacity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ event.capacity }}</td>
                                
                                <td>
                                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-primary btn-sm">Show</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
             
            </div>
        </div>
    </div>
{% endblock %}
