{% extends 'baseBack.html.twig' %}

{% block title %}Product List{% endblock %}

{% block search %}
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="{{path('app_product_search')}}">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->
{% endblock %}

{% block body %}



<div style="margin-left:315px; margin-top:75px">
    <h1>Product List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Size</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>

                <th>Disponibility</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productname }}</td>
                <td>{{ product.productquantity }}</td>
                <td>{{ product.productsize }}</td>
                <td>{{ product.productprice }}</td>
                <td>{{ product.productdescription }}</td>
                <td>{{ product.productimg }}</td>
                <td>{{ product.productdisponibility }}</td>
                <td>
                    <a href="{{ path('app_product_back_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_back_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-succes" 
  href="{{ path('app_product_back_new') }}" >Create new</a>
</div>
 
    
{% endblock %}
