{% extends 'home.html.twig' %}

{% block title %}Course Index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 mb-4">Course Index</h1>

        <div class="row">
            {% for cour in cours %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="{{asset('cours.png')}}" width="150" height="250" class="card-img-top" alt="{{ cour.titre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ cour.titre }}</h5>
                            <p class="card-text">{{ cour.description }}</p>
                            <ul class="list-unstyled">
                                <li><strong>Level:</strong> {{ cour.niveau }}</li>
                                <li><strong>Created At:</strong> {{ cour.createdAt ? cour.createdAt|date('Y-m-d') : '' }}</li>
                                <li><strong>Category:</strong> {{ cour.categorie }}</li>
                                <li><strong>Available Quizzes:</strong> {{ cour.quizzes|length }}</li>
                            </ul>
                             <a href="{{ path('pdf_show', {'id': cour.id}) }}" target="_blank" class="btn btn-primary mr-2">View Pdf</a>
                            <a href="{{ path('app_quiz_index_front', {'id': cour.id}) }}" class="btn btn-secondary">Quiz</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p class="lead">No records found</p>
                </div>
            {% endfor %}
        </div>

        
    </div>
{% endblock %}
