{% extends 'baseBack.html.twig' %}

{% block title %}Charity
{% endblock %}

{% block body %}
	<h1>Charity</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ charity.id }}</td>
			</tr>

			<tr>
				<th>Name_of_charity</th>
				<td>{{ charity.name_of_charity }}</td>
			</tr>
			<tr>
				<th>Amount_donated</th>
				<td>{{ charity.amount_donated }}</td>
			</tr>
			<tr>
				<th>Total_of_donation</th>
				<td>{{ charity.total_of_donation }}</td>
			</tr>
			<tr>
				<th>Last_date</th>
				<td>{{ charity.last_date }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_charity_index') }}">Back to list</a>

	<a href="{{ path('app_charity_edit', {'id': charity.id}) }}">Edit</a>

	{{ include('charity/_delete_form.html.twig') }}
{% endblock %}
