{% extends 'back/index.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4 text-center">Job index</h1>

        <div class="row justify-content-center"> <!-- Center the content horizontally -->
            <div class="col-md-8"> <!-- Adjust the width of the content -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Organisation</th>
                            <th>Picture</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Startdate</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in job %}
                        <tr>
                            <td style="position: relative;">{{ job.organisation }}</td>
                            <td style="position: relative;"><img src="{{ asset('uploads/' ~ job.picture) }}" width="60" height="60"></td>
                            <td>{{ job.title }}</td>
                            <td>{{ job.description }}</td>
                            <td>{{ job.startdate ? job.startdate|date('Y-m-d') : '' }}</td>
                            <td>
                                <a href="{{ path('app_job_edit', {'id': job.id}) }}">edit</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_front_job_new') }}" class="btn btn-primary">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
