{{ form_start(form, {'attr': {'class': 'example-wrapper'}}) }}

<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}

	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
	.container-fluid {
		background-color: #F0F8FF;
	}

	/* Add spacing between labels and input fields */
	.form-group {
		margin-bottom: 15px;
	}
</style>

<div class="container-fluid" data-parallax="scroll" data-image-src="assets/img/carousel-2.jpg">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="bg-white rounded p-4 p-sm-5 wow fadeIn" data-wow-delay="0.5s">
					<div class="form-group">
						{{ form_label(form.firstName, 'First name', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.firstName, {'attr': {'class': 'form-control bg-light border-0', 'placeholder': 'first namet'}}) }}
						{{ form_errors(form.firstName) }}
					</div>
					<div class="form-group">
						{{ form_label(form.lastName, 'Last name', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.lastName, {'attr': {'class': 'form-control bg-light border-0', 'placeholder': 'last name'}}) }}
						{{ form_errors(form.lastName) }}
					</div>
					<div class="form-group">
						{{ form_label(form.address, 'Address', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.address, {'attr': {'class': 'form-control bg-light border-0', 'placeholder': 'address'}}) }}
						{{ form_errors(form.address) }}
					</div>
					<div class="form-group">
						{{ form_label(form.phoneNumber, 'Phone number', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control bg-light border-0', 'placeholder': 'phone number'}}) }}
						{{ form_errors(form.phoneNumber) }}
					</div>
					<div class="form-group">
						{{ form_label(form.amount, 'Amount', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.amount, {'attr': {'class': 'form-control bg-light border-0', 'placeholder': 'amount'}}) }}
						{{ form_errors(form.amount) }}
					</div>
					<div class="form-group">
						{{ form_label(form.charity, 'charity name', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.charity, {'attr': {'class': 'form-control bg-light border-0', 'placeholder': 'amount'}}) }}
						{{ form_errors(form.charity) }}
					</div>
					<button type="submit" class="btn btn-primary py-3 px-4" id="save-button">Update</button>
				</div>
			</div>
		</div>
	</div>
</div></div>{{ form_end(form) }}
